---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import WorkExperience from "../components/WorkExperience.astro";
import Project from "../components/Project.astro";

import workExperience from "../lib/workExperience.json"
---

<Layout title="makeri89">
  <div class="grid lg:grid-cols-2 lg:gap-48 w-3/4 2xl:w-2/3 m-auto">
    <div>
      <Navbar />
    </div>
    <main class="lg:py-24 flex flex-col gap-8 mb-8">
      <section id="about" class="flex flex-col gap-4" aria-label="About me">
        <div>
          <h2 class="sr-only">About me.</h2>
        </div>
        <div class="text-lg leading-relaxed">
          <p class="mb-4">
            Hi, I'm Markus. I'm a software developer from Finland.
          </p>
          <p class="mb-4">
            I have expertise in backend development, frontend development,
            software architecturing, DevOps, and a lot more. My main interests
            are architecture, cloud, and DevOps. But you can find me working
            with accessibility and frontend as well.
          </p>
          <p>
            Currently I'm working as a Junior DevOps Engineer at Veikkaus.
          </p>
        </div>
      </section>
      <section id="experience" class="flex flex-col gap-8 flex-wrap">
        <div>
          <h2 class="text-2xl font-bold underline">Experience.</h2>
        </div>
        {workExperience.map((job) => (
          <WorkExperience title={job.company} period={job.period} body={job.description} />
        ))}
      </section>
      <section id="projects" class="flex flex-col gap-8 flex-wrap">
        <div>
          <h2 class="text-2xl font-bold underline">Personal projects.</h2>
        </div>
        <Project title="ainoastaanfanit.com">
          <p>
            <a class="font-bold" href="https://ainoastaanfanit.com"
              >ainoastaanfanit.com</a
            >
             is an application for all tractor enthusiasts. It started out as a
            joke but I've since added email lists and such into it. The source
            code is available in my <a
              class="font-bold"
              href="https://github.com/makeri89/ainoastaanfanit">Github</a
            >.
          </p>
        </Project>
        <Project title="unaribot">
          <p>
            Do you ever need to quickly check the lunch of some Unicafe
            restaurant? Well, do I have good news for you. This is a Telegram <a
              class="font-bold"
              href="https://t.me/unari_bot">bot</a
            > that can tell you exactly that. It was first written in JavaScript
            but then I rewrote it in Rust. You can check out the source code,
            again, in my <a
              class="font-bold"
              href="https://github.com/makeri89/unaribot-rs">Github</a
            >.
          </p>
        </Project>
      </section>
      <section id="info" class="mt-24">
        <p class="text-sm">
          This page has been built with <a
            class="font-bold"
            href="https://astro.build">Astro</a
          > and styled with <a class="font-bold" href="https://tailwindcss.com/"
            >Tailwind CSS</a
          >. It's hosted in <a class="font-bold" href="https://vercel.com"
            >Vercel</a
          >. The font used is <a
            class="font-bold"
            href="https://fonts.google.com/specimen/Nunito+Sans">Nunito Sans</a
          >. The design of the page has been greatly influenced by the portfolio
          of <a class="font-bold" href="https://brittanychiang.com/"
            >Brittany Chiang</a
          >.
        </p>
      </section>
    </main>
  </div>
</Layout>
