---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="makeri89">
	<main class="mt-10 md:mt-32">
		<h1 class="text-4xl md:text-6xl text-center mb-10">Markus Kaihola</h1>
		<div class="flex flex-row gap-8 flex-wrap justify-center">
			<Card
				title="Work"
				body="Software developer at Digia"
			/>
			<Card
				title="Play"
				body="Darts at Richard's Dart"
			/>
			<Card
				title="Study"
				body="Computer Science at Helsinki University"
			/>
		</div>
	</main>
</Layout>