---
export interface Props {
	title: string;
	period: string;
	body: string;
}

const { title, period, body } = Astro.props;
---

<div class="rounded-lg w-full">
	<h3 class="text-xl mb-2 font-bold">
		{title}
	</h3>
	<p class="text-md italic mb-2">
		{period}
	</p>
	<p class="text-lg">
		{body}
	</p>
</div>